In [1]:
import numpy as np
import random

In [2]:
def weitzman_reservation_price(distributions, search_cost):
    """
    Generates a distribution of reservation prices using Weitzman's optimal search framework.

    Args:
    distributions (list): A list of tuples (mean, std_dev) representing the parameters of normal distributions for each alternative.
    search_cost (float): The cost of searching for a new alternative.

    Returns:
    list: A list of reservation prices for each alternative.
    """

    reservation_prices = []

    for mean, std_dev in distributions:
        # Calculate the Gittins index for each alternative
        gittins_index = mean - (search_cost * (std_dev ** 2))

        # Calculate the reservation price for each alternative
        reservation_price = gittins_index * (1 - np.exp(-2 * search_cost / (std_dev ** 2)))
        reservation_prices.append(reservation_price)

    return reservation_prices

# Example usage
distributions = [(10, 2), (15, 3), (20, 4)]
search_cost = 1

reservation_prices = weitzman_reservation_price(distributions, search_cost)
print(reservation_prices)

[2.3608160417241995, 1.1955755824991516, 0.4700123896616182]

In [8]:
def gen_Box_Val(p, full_val):
    val = random.choice([0, full_val, p])
    return val

In [17]:
box = gen_Box_Val(0.1, 100)

In [22]:
def genVideoBoxes():

    import numpy as np
    import pandas as pd

    np.random.seed(42)  # For reproducibility

    # Define number of boxes
    n_boxes = 100

    # Define mean and standard deviation for prize and cost distributions
    prize_mean = 100
    prize_std = 20
    cost_mean = 10
    cost_std = 2

    # Generate prizes and costs
    prizes = np.random.normal(prize_mean, prize_std, n_boxes)
    costs = np.random.normal(cost_mean, cost_std, n_boxes)

    # Make sure that costs and prizes are not negative
    costs = np.abs(costs)
    prizes = np.abs(prizes)

    # Create a DataFrame for better data management
    df = pd.DataFrame({
        'prize': prizes,
        'cost': costs
    })

    return df

def solveVideoBoxes(vdf):
    # Calculate indices
    vdf['index'] = vdf['prize'] - vdf['cost']

    total_prize = 0
    total_cost = 0

    while len(vdf) > 0:
        # Find the box with the maximum index
        max_index_box = vdf['index'].idxmax()

        # If the index is positive, open the box
        if vdf.loc[max_index_box, 'index'] > 0:
            total_prize += vdf.loc[max_index_box, 'prize']
            total_cost += vdf.loc[max_index_box, 'cost']
            vdf.drop(max_index_box, inplace=True)
        else:
            break

    print("Total prize:", total_prize)
    print("Total cost:", total_cost)
    print("Net gain:", total_prize - total_cost)

In [23]:
vdf = genVideoBoxes()

In [37]:
vdf

         prize       cost
0   109.934283   7.169259
1    97.234714   9.158709
2   112.953771   9.314571
3   130.460597   8.395445
4    95.316933   9.677429
..         ...        ...
95   70.729701  10.770635
96  105.922406   8.232285
97  105.221105  10.307450
98  100.102269  10.116417
99   95.308257   7.714059

[100 rows x 2 columns]

In [24]:
vdf.head()

        prize      cost
0  109.934283  7.169259
1   97.234714  9.158709
2  112.953771  9.314571
3  130.460597  8.395445
4   95.316933  9.677429

In [31]:
zipped = list(zip(vdf['prize'], vdf['cost']))

In [29]:
zipped[0][0]

109.93428306022466

In [32]:
len(zipped)

100

In [35]:
for i in range(1, (len(zipped)+1)):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [36]:
import itertools

set1 = range(11)  # integers from 0 through 10
set2 = range(11)  # integers from 0 through 10

# Get all combinations of integers from set1 and set2
combinations = list(itertools.product(set1, set2))

print(combinations)

[(0, 0), (0, 1), (0, 2), (0, 3), (0, 4), (0, 5), (0, 6), (0, 7), (0, 8), (0, 9), (0, 10), (1, 0), (1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (1, 7), (1, 8), (1, 9), (1, 10), (2, 0), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (2, 7), (2, 8), (2, 9), (2, 10), (3, 0), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (3, 7), (3, 8), (3, 9), (3, 10), (4, 0), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 7), (4, 8), (4, 9), (4, 10), (5, 0), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (5, 7), (5, 8), (5, 9), (5, 10), (6, 0), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6), (6, 7), (6, 8), (6, 9), (6, 10), (7, 0), (7, 1), (7, 2), (7, 3), (7, 4), (7, 5), (7, 6), (7, 7), (7, 8), (7, 9), (7, 10), (8, 0), (8, 1), (8, 2), (8, 3), (8, 4), (8, 5), (8, 6), (8, 7), (8, 8), (8, 9), (8, 10), (9, 0), (9, 1), (9, 2), (9, 3), (9, 4), (9, 5), (9, 6), (9, 7), (9, 8), (9, 9), (9, 10), (10, 0), (10, 1), (10, 2), (10, 3), (10, 4), (10, 5), (10, 6), (10, 7), (10, 8), (10, 9), (10, 10)]

In [48]:
for i in range(len(zipped)):
   box = random.sample(zipped, 1)[0]
   print(box)
   zipped.remove(box)

(89.11234550949635, 11.17371418760054)
(61.73439510684404, 14.926484224970572)
(101.83521553071004, 9.470686333524087)
(112.23352577681736, 10.464507394322007)
(116.25051644788397, 11.926752258488644)
(106.87236579136923, 11.043883131233795)
(104.1772719000951, 8.433493415327526)
(60.80659752240449, 9.35587696758865)
(87.09760490789752, 8.492527671285021)
(77.87330051987944, 12.317191158014808)
(81.83951848957578, 12.285645629030041)
(107.23272050095268, 9.509223767994259)
(101.74094136476343, 10.026003783755813)
(106.4816793878959, 10.500985700691754)
(71.75392597329417, 11.503866065373549)
(89.63459563452705, 10.96494483048637)
(60.248621707982146, 15.440338333179238)
(105.92240554129152, 8.232285127597734)
(129.55788089483033, 7.858215003877776)
(99.28347921780097, 9.845796581171792)
(99.73005550524132, 7.87539257254779)
(90.78722458080425, 7.526098578243836)
(76.98012845155395, 8.018927349738624)
(89.40479592465923, 8.30641256386319)
(94.01985299068265, 12.907068154314633)
(116.45089824206377, 8.161151531532393)
(121.1424445243783, 7.359086773831447)
(104.83924543132068, 10.120460419882052)
(109.93428306022466, 7.1692585158991715)
(93.44675706804463, 7.508522442576024)
(95.3172608610164, 10.808101713629076)
(114.76933159990821, 10.45491986920826)
(130.46059712816052, 8.395445461556761)
(118.30804235404148, 10.94647524914709)
(105.22110544359779, 10.307450211891055)
(106.62526862807128, 7.617393005594703)
(131.58425631014782, 13.77237180242106)
(119.51090254244718, 11.31310721726766)
(101.35056409375848, 12.805588621872198)
(131.29287311628013, 10.682303949633289)
(89.96485912830927, 11.428000988184184)
(101.9415509869608, 9.106970095865957)
(86.46155999388083, 8.639950556843019)
(83.21564953554723, 13.731549022289514)
(118.62560238232398, 8.571297163947264)
(119.37289981065778, 11.712797588646945)
(110.26534866226712, 6.970305550628271)
(97.2347139765763, 9.158709354469282)
(110.8512008717193, 9.851108168467665)
(93.81575248297571, 10.947665841823575)
(102.21845179419732, 14.380911251619956)
(107.51396036691344, 8.867404540794457)
(79.74337759331152, 9.930576460589513)
(116.43805008750448, 11.654366498072047)
(106.57502219319369, 9.854342174686254)
(70.72970103735763, 10.770634759457673)
(75.58312700057955, 13.09986881003508)
(106.28494665190547, 7.6626439247609355)
(90.4165152430942, 8.050636659545358)
(93.97792608821422, 10.36926771706461)
(73.43627902203139, 11.62703443473934)
(95.31693250553329, 9.677428576667982)
(94.16612500413447, 8.993048691767601)
(95.4844739902693, 8.181225090410521)
(76.07586751838659, 8.358635363296578)
(112.95377076201385, 9.31457096694646)
(100.10226913284922, 10.116417436892)
(107.14225143023492, 8.285684887167434)
(83.83012794213624, 9.553074429348298)
(87.96586775541206, 6.898673137867735)
(97.68703435223519, 6.785033530877545)
(64.73919689274533, 10.593969346466372)
(70.42956019265145, 10.519765588496847)
(103.4273656237994, 12.614285508564857)
(71.50503627573087, 7.196297874415438)
(95.30825733249706, 7.714059404338753)
(127.12480057141646, 10.825561853872996)
(92.15783693735685, 10.346361851702364)
(65.50164334973934, 9.615278070437755)
(103.93722471738246, 7.53827136713209)
(90.68540492859486, 9.946972249101567)
(130.76073132931938, 8.368379430069123)
(47.60509791820511, 10.553381598660039)
(137.04556369017877, 10.137125949612054)
(88.75424941518054, 10.603094684667225)
(92.29835439167367, 10.692896418993952)
(90.61051228130096, 10.515100781445529)
(96.28682046672365, 11.574169207484903)
(87.9872262016239, 10.199302730175283)
(120.61999044991902, 10.586144946597363)
(90.73164614375075, 6.1624575694019175)
(85.60311583210583, 11.56364574355462)
(129.31297537843108, 11.582063894086094)
(115.34869458305818, 10.349155625663679)
(98.55979756839332, 11.64412031998898)
(107.22791211016828, 8.220971140748954)
(95.60656224324975, 11.251334695530012)
(120.07065795784048, 13.793585965307894)
(78.84578142088199, 10.947184861270363)
(85.95893812245295, 10.428187488260408)

In [45]:
box_values

(71.75392597329417, 11.503866065373549)

In [57]:
import numpy as np

def softmax(x):
    return np.exp(x) / np.sum(np.exp(x), axis=0)

def choose_based_on_acuity(choice_set, acuity):
    # Normalize the choice set
    normalized_choices = (choice_set - np.min(choice_set)) / (np.max(choice_set) - np.min(choice_set))

    # Multiply by the acuity
    acuity_adjusted_choices = normalized_choices * (acuity / 100)
    print(acuity_adjusted_choices)

    # Calculate probabilities using softmax
    probabilities = softmax(acuity_adjusted_choices)

    # Choose an element from the choice set based on the probabilities
    choice = np.random.choice(choice_set, p=probabilities)

    return choice, probabilities

In [59]:
choice = choose_based_on_acuity([0, 25, 75, 100], 0)

[0. 0. 0. 0.]